.intro {
    text-align: center;
    background-color: #ebedf0;
    background: rgba(0, 0, 0, 0.0);
    text-align: left;
    padding-top: 20px;
    padding-left:5%;
    font-size: 22px;
}

.intro p {
    padding-top: 20px;
    color: #efefef;
    font-size: 30px;
}

.intro p a {
    padding-top: 20px;
    color: #e79216;
    font-size: 30px;
    font-weight: bold;
}