.intro {
    border-radius: 5px;
    opacity: 1;
    text-align: center;
    width: 100%;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    clear: both;
    background-color: #ebedf0;
    overflow: hidden;
    background-size: cover;
    text-align: left;
    padding-left:20%;
}

.intro p {
    color: #2d2928;
    font-size: 20px;
}