.jobs {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ebedf0;
    overflow: hidden;
    background-size: cover;
}

.jobs h1 {
    width: 90%;
    margin: 3% auto;
    color: #e79216;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 600;
}

.jobs h2 {
    width: 90%;
    color: #e79216;
    margin: 2% auto;
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
}

/* desktop screen */
@media only screen and (min-width: 800px) {
    .jobs h1 {
        width: 80%;
        margin: 3% auto;
        color: #e79216;
        font-size: clamp(1rem, 2vw, 2rem);
        font-weight: 600;
    }

    .jobs h2 {
        width: 80%;
        color: #e79216;
        margin: 2% auto;
        font-size: clamp(1rem, 2vw, 2rem);
        font-weight: 400;
    }
}